*{
  font-size: 20px;
}
  body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container1{
  border-right: 1px solid black;
}

.header{
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.contents{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habit{
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.contents{
  border-bottom: 1px solid black;
}
img{
  height: 60px;
}
.hlist{
  display: flex;
  flex-direction: row;
}
.no_ul{
   list-style:none;
}

.contents2{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  flex-direction: row;
}

button{
  margin: 10px;
  height: 60px;
  width: 300px;
}
